.liquid-glass {
    --corner-radius: 48px;
    --base-strength: 48px;
    --extra-blur: 0px;
    --softness: 24px;
    --tint-amount: 0;
    --tint-saturation: 2;
    --tint-hue: 180deg;
    --contrast: 1;
    --brightness: 2;
    --invert: 0%;

    --total-strength: calc(var(--base-strength) + var(--extra-blur));
    --edge-width: calc(0.3px + (var(--softness) * 0.1));
    --emboss-width: calc((var(--softness) * 0.38));
    --refraction-width: calc((var(--softness) * 0.3));

    position: relative;
    overflow: visible;
    /*! pointer-events: none; */
    left: 639px;
    top: 300px;
    width: 400px;
    height: 300px;
    z-index: 1;
    background-color: rgba(50, 50, 50, 0.2) !important;
}
.liquidGlassContent {
    position: relative;
    display: flex;
    flex-direction: row;
    z-index: -1;
    overflow: hidden;
    border-radius: inherit;
    pointer-events: auto;
}
.liquidGlassMaterial {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: visible;
    pointer-events: none;
    border-radius: inherit;
    overflow: hidden;
}
.liquidGlassMaterial:after {
    content: '';
    display: block;
    position: absolute;
    inset: 0;
    z-index: 3;
    overflow: hidden;
    border-radius: inherit;
    background-color: rgba(128, 128, 128, 0);
}
.liquidGlassMaterial > div {
    position: absolute;
    inset: 0;
    box-sizing: border-box;
    border-radius: inherit;
    z-index: 2;
    overflow: hidden;
}
.liquidGlassMaterial .liquidGlassEdgeReflection {
    z-index: 4;
    margin: calc(var(--total-strength) * -1);
    border-radius: calc(inherit + var(--total-strength));
    backdrop-filter: blur(var(--total-strength)) brightness(1.2) saturate(1.2);
    padding: var(--edge-width);
    border: var(--total-strength) solid transparent;
    mask: 
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
}
.liquidGlassMaterial .liquidGlassEmbossReflection {
    backdrop-filter: blur(calc(var(--total-strength) * 1.5)) invert(0.25) brightness(1.11) saturate(1.2) hue-rotate(-10deg) contrast(2.3);
    padding: var(--emboss-width);
    border: 0 solid transparent;
    mask: 
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
}
.liquidGlassMaterial .liquidGlassRefraction {
    backdrop-filter: invert(0.1) brightness(1.2) contrast(1);
    padding: var(--refraction-width);
    border: calc(var(--emboss-width)) solid transparent;
    mask: 
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
}
.liquidGlassMaterial .liquidGlassBlur {
    backdrop-filter: blur(var(--extra-blur)) brightness(1.25);
    border-radius: calc(inherit - (var(--emboss-width) + var(--refraction-width)));
    margin: calc(var(--emboss-width) + var(--refraction-width));
}
.liquidGlassMaterial .BlendLayers {
    z-index: 3;
    backdrop-filter: blur(calc((var(--softness) * 0.2) + (var(--extra-blur) * 0.2)));
}
.liquidGlassMaterial .BlendEdge {
    z-index: 8;
    backdrop-filter: blur(calc(var(--edge-width) * 0.4)) contrast(1) saturate(1.2);
}

.liquidGlassMaterial:before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 11;
    display: block;
    border-radius: inherit;
    padding: 1px;
    border: 0 solid transparent;
    background: linear-gradient(155deg, hsla(0, 0%, 100%, 0.15) 0%, hsla(0, 0%, 0%, 0.2) 50%, hsla(0, 0%, 100%, 0.15) 100%);
    backdrop-filter: invert(0.15) opacity(1);
    mask: 
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
}
.liquidGlassMaterial .Highlight {
    z-index: 12;
    display: block;
    border-radius: inherit;
    padding: 1px;
    border: 0 solid transparent;
    backdrop-filter: brightness(1.2) contrast(1) saturate(1) opacity(1);
    mask: 
        linear-gradient(white 0 0) padding-box,
        linear-gradient(white 0 0) content-box;
    mask-composite: exclude, exclude;
}
.liquidGlassMaterial .Brightness {
    z-index: 13;
    backdrop-filter: brightness(var(--brightness));
}