body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

#apps-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  padding: 48px;
  overflow-y: scroll;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}

#apps-container::before {
  content: "";
  height: 192px;
  width: 100%;
}

#apps-container h1 {
  width: 100%;
  font-family: "Kumbh Sans", sans-serif;
}

.app-card {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: calc(20% - 39px);
  height: fit-content;
  box-sizing: border-box;
  position: relative;
  align-items: center;
}

.app-icon {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #fff;
}

.app-icon > img:first-child {
  width: calc(100% + 24px);
  aspect-ratio: 1 / 1;
  object-fit: 1/3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.app-icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 0;
  backdrop-filter: blur(5px);
}

.app-icon:hover::after,
.app-icon:hover > .app-button {
  opacity: 1;
}

.app-icon:hover .app-button {
  transform: translateY(0px);
}

.app-icon:hover .app-favorite {
  opacity: 1;
}

.app-icon:not(:hover) .liquidGlassMaterial {
  display: none !important;
}

.app-title {
  display: flex;
  width: calc(100% - 72px);
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 24px 24px;
  box-sizing: border-box;
  border-top: 0px;
  position: relative;
  overflow: hidden !important;
  z-index: 0 !important;
}

.app-title span {
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  border: solid 5px rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 0px 0px 24px 24px;
  border-top: 0px;
}

.app-title:has(.liquidGlassMaterial) span {
  border: none !important;
}

.app-button {
  position: absolute;
  padding: 12px 12px 12px 48px;
  background-color: rgba(0, 0, 0, 0.3);
  border: solid 6px rgba(0, 0, 0, 0.3) !important;
  font-size: 24px;
  border-radius: 9999px;
  backdrop-filter: blur(32px) !important;
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 1 !important;
  transform: translateY(6px);
  /* z-index: 1; */
}

.app-button::after {
  content: "";
  height: 2em;
  width: 2em;
  display: block;
  background-image: url("/assets/images/icons/chevron-down.svg");
  background-size: cover;
  transform: rotate(-90deg);
}

.app-button:hover {
  transform: translateY(-6px) !important;
}

.app-button:has(.liquidGlassMaterial),
.app-favorite:has(.liquidGlassMaterial) {
  backdrop-filter: none !important;
  border: none !important;
}

.app-favorite {
  position: absolute;
  top: calc(50% + 60px);
  background: rgba(0, 0, 0, 0.3);
  height: 60px;
  width: 90px;
  border-radius: 9999px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(46px) !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 1;
  opacity: 0;
  border: solid 6px rgba(0, 0, 0, 0.3) !important;
}

.app-favorite::before,
.app-favorite::after {
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  height: 50%;
  aspect-ratio: 1 / 1;
  background-size: 100% 100%;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center center;
}

.app-favorite::before {
  background-image: url("/assets/images/icons/app-favorite.svg");
  transform: translate(-50%, -50%) scale(1);
  transition: all 0.2s ease-in;
}

.app-favorite::after {
  background-image: url("/assets/images/icons/app-favorited.svg");
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.2s ease-in-out;
}

.app-favorite.favorited::before {
  transform: translate(-50%, -50%) scale(0);
}

.app-favorite.favorited::after {
  transform: translate(-50%, -50%) scale(1);
}

.app-favorite.favorited {
  border: solid 4px rgba(0, 0, 0, 0);
}

.app-favorite:has(.liquidGlassMaterial) .favorite-border {
  display: none !important;
}

.favorite-border {
  height: calc(100% - 4px);
  transition: all 0.2s ease-in;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: scale(1) translate(-50%, -50%);
}

.app-favorited.favorite .favorite-border {
  opacity: 1;
}

.app-favorite:not(.favorited) .favorite-border {
  opacity: 0;
}

#search-bar {
  background: rgba(0, 0, 0, 0.5);
  border: solid 2px rgba(255, 255, 255, 0.2);
  padding: 0px 24px;
  border-radius: 9999px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  transition: filter 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
  position: absolute;
  left: 50vw;
  top: 144px;
  transform: translate(calc(-50% - 6px), 0px);
  backdrop-filter: blur(4px);
  gap: 24px;
  width: min(calc(100vw - 96px), 480px);
  box-sizing: border-box;
  z-index: 9999;
}



#search-bar:has(.liquidGlassMaterial) {
  border: none !important;
  background-color: #000;
}

#search-bar img {
  height: 1em;
  width: 1em;
}

#search-input {
  background: none;
  border: none;
  outline: none !important;
  height: calc(1em + 48px);
  font-size: 16px;
  flex: 1;
}

#search-input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
}

.title-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  height: calc(100% + 48px);
  width: calc(100% + 48px);
  filter: blur(12px) brightness(0.5);
  z-index: 0;
  transform: translate(-50%, -50%);
}

.small {
  font-size: 0.8em;
  font-weight: 400;
  font-family: "Instrument Sans", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}