
#container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#sidebar-container {
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#settings-content-container {
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  transform: translateY(+100%);
  transition: transform 1s ease-in-out;
}
#settings-sidebar {
  padding: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.sidebar-button {
  width: 100%;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.sidebar-button svg {
  width: 70%;
  height: 70%;
}


.settings-section {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 48px;
  /*! padding-right: 48px; */
  /*! overflow-y: scroll; */
}
.settings-item {
  background: var(--card-background);
  border: var(--card-border);
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-radius: 48px;
  width: calc(25% - 144px);
  backdrop-filter: blur(3px);
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.1);
}
.settings-item-icon {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.settings-item-button {
  background: inherit;
  border: inherit;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  filter: invert(0);
  transition: filter 0.2s ease-in-out, color 0.2s ease-in-out;
  cursor: pointer;
}

.settings-item-button:hover {
    filter: invert(1);
    color: black;
}

#settings-content-container > h1:first-of-type {
  margin-top: var(--navbar-safe-padding);
}

.settings-section {
    margin-bottom: 48px;
}
#settings-content-container h1 {
    margin-bottom: 48px;
}


.settings-item-icon svg {
  height: 50%;
  width: 50%;
}
.settings-item-icon img {
  width: 50%;
  pointer-events: none;
}

.settings-item-icon-masked-b {
  background: var(--bg);
  -webkit-mask: url("/assets/images/icons/bhop-b.svg") no-repeat center;
  -webkit-mask-size: 50% 50%; /* width height as percentage or px */
  mask: url("/assets/images/icons/bhop-b.svg") no-repeat center;
  mask-size: 50% 50%;
  background-color: red; /* whatever color you want the mask to show */
  background-size: 60%;
  background-position: center;
}

#settings-content-loading {
    width:100%;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#settings-content-loading-circle {
    transform: translate(-50%, -50%) rotate(0deg);
    height: 10%;
    position: absolute;
    left: 50%;
    top: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(+0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(+360deg);
    }
}


@media screen and (max-width: 1200px) {
    #sidebar-container {
      display: none !important;
    }
    #cursor-section {
      display: none;
    }
    #settings-content-container > h1:first-of-type {
      display: none;
    }
    #settings-content-container > h1:nth-of-type(2) {
      margin-top: 80px;
    }
    #settings-content-container {
      width: 100vw;
    }

    .settings-section {
      flex-direction: column;
    }
    .settings-item {
      width: calc(100vw - 144px);
      margin: 24px;
      margin-bottom: 0px;
    }
    #settings-content-container h1 {
      margin-left: 24px;
    }
}

#effect-section .settings-item-icon img {
  width: 100%;
}

.sidebar-button::before {
  content: "";
  background-color: #fff;
  width: 3px;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translate(-50%, -50%) scaleY(0);
  height: 80%;
  border-radius: 9999px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
}


.sidebar-button:hover::before, .sidebar-button.active::before {
  transform: translate(-50%, -50%) scaleY(1);
  opacity: 1;
}

.sidebar-button-icon {
  width: 100%;
  height: 100%;
  display: block;
  mask-position: center center;
  mask-size: 100% 100%;
}

#sidebar-button-theme .sidebar-button-icon {
  background: var(--theme-color);
  mask-image: url("/assets/images/icons/bhop-b.svg");
}

#sidebar-button-effect .sidebar-button-icon {
  
  background: #fff;
  mask-image: url("/assets/images/icons/bolt.svg");
}